/* Launch list custom styles */

.launch-entry {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 5px;
  padding: 2px 10px;
  overflow: hidden;
}

.flight-no {
  font-size: 2rem;
  min-width: 65px;
  margin-top: 5px;
}

.mission-name {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5px;
}

.launch-date {
  display: grid;
  text-align: right;
  max-width: 150px;
  float: right;
}

.rocket-name {
  font-size: 1.5rem;
  font-weight: 500;
}

